:root {
    --track-color: #171717;
    --thumb-color: #FA34F7;
    --scrollbar-width: 22px;
    --scrollbar-radius: 50px;
    --scrollbar-width-moz: auto;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: var(--track-color);
}
body::-webkit-scrollbar-track {
  background-color: var(--track-color);
}
body::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-radius);
  border: 3px solid #FFC7F8;
  background-clip: padding-box;
  background: repeating-linear-gradient(
    to bottom,
    #731771,
    #731771 16px,
    #FFC7F8 16px,
    #FFC7F8 19px
  );
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
* {
    scrollbar-width: var(--scrollbar-width-moz);
    scrollbar-color: var(--thumb-color) var(--track-color);
  }
}
